<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.elkriefy.android.apps.authenticationexample">
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:name=".AuthenticationExample"
            android:usesCleartextTraffic="@bool/usesCleartextTraffic"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".fingerprintdialog.FingerPrintDialogMainActivity"
                  android:label="@string/app_name"/>

        <activity android:name=".fingerprintdialog.SettingsActivity"
                  android:label="@string/action_settings" />

        <activity android:name=".credentialsgrace.CredGraceActivity"
                  android:label="@string/app_name"/>

        <activity android:name=".cleartextnetworkusage.ClearTextNetworkUsageActivity"
                  android:label="@string/app_name"/>

    </application>

</manifest>
